body{
    margin: 0;
    height: 100vh;
}
canvas{
    display: block;
    position: fixed;
}
whole{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(10, 2fr);
}

.intro{
    height: 300px;
    grid-column: 1/ 3;
    background-color:gray;
    opacity: 60%;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.next{
    position: relative;
    margin-top: 30%;
    left: 40%;
    height: 300px;
    grid-column: 1/ span 3;
    background-color:darkgray;
    opacity: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li{
    font-weight:bolder;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}